@import "reset";
@import "mixins";
@import "animacoes";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  word-wrap: break-word;
}

body {
  font-family: "Open Sans", "Poppins", sans-serif;
  font-size: sizeElement(16);
  font-weight: normal;
}

[data-section] {
  @include flex-center;
  padding: 0 20px;
}

[data-center-neutro]{
 max-width: #{$desktop + 100};
  width: 100%;
  padding: 70px 0 60px 0;
}

[data-center].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

[data-center] {
  max-width: #{$desktop + 100};
  width: 100%;
  padding: 70px 0 60px 0;
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  transition: .9s;

  @include responsivo(tablet){
    max-width: #{$tablet};
  }
  @include responsivo(celular){
    max-width: #{$celular};
  }

  h2 {
    color: $primeira-cor;
    font-size: sizeElement(21);
    text-align: center;
    margin: 0 0 50px 0;
  }
}

.menu {
  background-color: $primeira-cor;
  height: 80px;
  position: relative;
  z-index: 300;

  .menu-center {
    padding:0; //reset padding padrao do data-center
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pointer-hamburguer{
      display: none;
      max-width: 30px;
      height: auto;
      padding: 12px 0px;
      cursor: pointer;

      @include responsivo(tablet){
        display: block;
        order: 2;
      }

      @include responsivo(celular){
        display: block;
        order: 2;
      }
    }

    .menu-hamburguer {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #fff;
      position:relative;
    }

    .menu-hamburguer:before,   
    .menu-hamburguer:after {
      content:"";
      display: block;
      width: 25px;
      height: 3px;
      background-color: #fff;
      position:relative;
    }

    .menu-hamburguer:before {
      top: -7px;
      transition: all .5s;
    }  

    .menu-hamburguer:after {
      top: 5px;
      transition: all .5s;
    }

   .pointer-hamburguer.ativo{
      position: relative;
      z-index: 300;

      .menu-hamburguer {
        height: 0;
        top: 5px;
      }

      .menu-hamburguer:after {
          transform: rotateZ(45deg);
          top:-10px;
          transition: transform .5s, top 0s;
      }

      .menu-hamburguer:before {
          transform: rotateZ(-45deg);
          transition: transform .5s;
      }
    }

    .logo {
      display: block;
      color: $texto-cor-primeira;
      font-size: sizeElement(35);
      text-decoration: none;
      font-weight: 600;
  
      @include responsivo(celular){
        font-size: sizeElement(20);
      }

      span {
        color: $texto-cor-segunda;
      }

      a {
        color: $texto-cor-terceira;
        text-decoration: none;
      }
    }

    .menu-link {
      list-style-type: none;
      display: flex;
      font-size: sizeElement(14);
      align-items: center;

      @include responsivo(celular){
        justify-content: flex-end;
        gap:20px;
      }
      @include responsivo(tablet){
        justify-content: flex-end;
        gap:20px;
      }

      .links{
        
        @include responsivo(tablet){
          display: block;
          width: 0%;
          opacity: 0;
          transition: .3s;
          height: 100vh;
          background-color: $quarta-cor;
          position: absolute;
          z-index: 299;
          overflow: hidden;
          top:80px;
          right:0;

          a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            font-weight: 600;
            color: #000;
            border-bottom: 1px solid $segunda-cor;
          }
         
          &.ativo{
            display: block;
            width: 70%;
            opacity: 1;
          }
        }
        @include responsivo(celular){
          display: block;
          width: 0%;
          opacity: 0;
          transition: .3s;
          height: 100vh;
          background-color: $quarta-cor;
          position: absolute;
          z-index: 299;
          overflow: hidden;
          top:80px;
          right:0;
         
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            font-weight: 600;
            color: #000;
            border-bottom: 1px solid $segunda-cor;
          }
         
          &.ativo{
            display: block;
            width: 70%;
            opacity: 1;
          }
        }
      }

      a {
        text-decoration: none;
        color: $texto-cor-segunda;
        padding: 8px 8px;
        position: relative;
        border-bottom: 4px solid transparent;
      }

      a.ativo{
        border-bottom: 4px solid $segunda-cor;
      }
     
      .baixar-cv {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-weight: bold;
        background-image: linear-gradient(180deg, $segunda-cor ,$quarta-cor);
        margin-left: 20px;        

        @include responsivo(celular){
          order: 1;
          margin-left: 0;
        }
        @include responsivo(tablet){
          order: 1;
          margin-left: 0;
        }
        
        a {
          color: $texto-cor-primeira;
          padding: 8px 8px 4px 8px !important;
        }
      }
    }
  }
}

@keyframes openBurguer{
  from{
    opacity: 0;
    width: 0%;
  }
  to{
    opacity: 1;
    width: 70%;
  }
}

@keyframes closeBurguer{
  from{
    opacity: 1;
     width: 70%;
  }
  to{
    opacity: 0;
    width: 0%;
  }
}


.banner {
  background-image: linear-gradient(-45deg, $quinta-cor, $primeira-cor 50% );
  height: 540px;

  @include responsivo(tablet){
    height: auto;
  }
  @include responsivo(celular){
    height: auto;
  }

  .banner-center {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;

      @include responsivo(tablet){
        display: block;
      }
      @include responsivo(celular){
        display: block;
      }

    .titulo {
      flex: 1 0 480px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative;
      z-index: 10;

      @include responsivo(tablet){
        margin-bottom: 50px;
        display: block;
      }
      @include responsivo(celular){
        display: block;
        margin-bottom: 50px;
      }


      .titulo-content{

        @include responsivo(celular){
          max-width: 300px;
          margin: 0 auto;
        }
        @include responsivo(tablet){
          max-width: 400px;
          margin: 0 auto;
        }
      }

      .btn-btn {
        height: 70px;
        max-width: 400px;
        width:100%;
        border-radius: 15px;
        font-size: sizeElement(21);
        font-weight: 400;
        position: relative;
        z-index:300;

        @include responsivo(celular){
          max-width: 320px;
        }

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          padding: 15px 130px;
          @include responsivo(celular){
            padding: 15px 80px;
          }
        }
      }

      [data-animaNome] {
        color: $segunda-cor;
        font-size: sizeElement(40);
        font-weight: 700;

        @include responsivo(celular){
          font-size: sizeElement(30);
        }
      }

      .text-linha-1-2 {
        font-size: sizeElement(26);
        color: $texto-cor-terceira;

        @include responsivo(celular){
          font-size: sizeElement(20);
        }
      }

      .text-content{
        div{
            margin: 6px 0;
        }
      }

      [data-barraPisca] {
        display: inline;
        animation: barraPisca 0.9s infinite;
        color: $segunda-cor;
        font-size: sizeElement(40);
        
        @include responsivo(celular){
          font-size: sizeElement(30);
        }
      }

      .btn-git {
        align-items: center;
        @include flex-center;
        margin: 30px 0 0 0;
        background-image: linear-gradient(180deg, $quarta-cor, $segunda-cor);

        span {
          color: $primeira-cor;
        }
      }

      .btn-linkedin {
        border: 1px solid #ffffff;
        @include flex-center;
        align-items: center;
        margin: 12px 0 0 0;

        span {
          color: $texto-cor-terceira;
        }
      }
    }

    .img-banner {
      flex: 1 0 463px;
      position: relative;
      top: -30px;
      position: relative;
      z-index: 10;

      @include responsivo(tablet){
        flex: 1 0 480px;
      }
      @include responsivo(celular){
        flex:1 0 350px;
      }

      img{
        animation: anima-img-banner ease-in-out 2s alternate infinite;
      }
    }
  }
}

@keyframes anima-img-banner {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(30px);
  }
}

@keyframes barraPisca {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.sobre-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .card-content-sobre {
    width: 97%;
    margin: 10px 20px;
  }

  .menu-sobre-mim {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 10px 0;
    flex: 1 0 auto;
    width: 100%;

    .celula {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      border: 2px solid #132a4c;
      border-radius: 5px;
      margin: 2px 5px;
      color: $texto-cor-segunda;
      font-weight: 600;
      cursor: pointer;
      position: relative;

      &::after {
        content: "+";
        display: block;
        font-size: 20px;
        right: 10px;
        top: 5px;
        position: absolute;
      }
    }
  }
}

.projetos {
  background: $primeira-cor;

  .projetos-center {
      
    .projeto-card {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;

      @include responsivo(tablet){
        justify-content: flex-start;
        padding-left: 8%;
      }
    }

    h2 {
      color: $quarta-cor;
    }

    .card {
        max-width: 280px;
        width: 100%;
        background-color: darken($primeira-cor,4%); 
        padding: 20px 10px 10px 10px ;
        border-radius: 5px;

      div {
        //@include imgBg("fundo-card.png");
        background-color: darken($primeira-cor,20%);
        width: 260px;
        height: 200px;
        border-radius: 10px;  
        margin-bottom: 20px;   
        display: flex;
        justify-content: center;
        align-items: center;  
        color:$quarta-cor;
        font-size: sizeElement(20);
      }

      h3 {
        color: #fff;
        font-size: sizeElement(20);
      }

      p {
        color: #fff;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      kbd {
        color:$quarta-cor;
        margin-top: 15px;
      }
    }
  }
}

.habilidades {
  .habilidades-center {

    .habilidade-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .card1{

        @include responsivo(celular){
          margin-top: 30px;
        }
        @include responsivo(tablet){
          margin-top: 30px; 
        }
      }

      .card2{

        @include responsivo(celular){
          margin-top: 60px;
        }

        @include responsivo(tablet){
          margin-top: 60px; 
        }
      }

      .card-habilidades {
        display: block;
        border: 1px solid $primeira-cor;
        border-radius: 15px;
        width: sizeElement(355);
        padding: 40px 20px 35px 20px;
        position: relative;

        @include responsivo(celular){
         flex: 0 1 350px;
        }

        @include responsivo(tablet){
         flex: 0 1 400px;
        }

        .titulo {
          margin: 0 auto;
          text-align: center;
          padding-top:9px;
          color: $texto-cor-terceira;
          background-color: $segunda-cor;
          border-radius: 15px;
          width: sizeElement(141);
          height: sizeElement(35);
          top: -58px;
          position: relative;
        

          @include responsivo(celular){
            //left: 32%;
          }
          @include responsivo(tablet){
            //left: 35%;
          }
        }

        .grid-habilidade {
          display: grid;
          grid-template-columns: 5fr 1fr;
          grid-template-rows: 13px 13px;
          gap: 12px;
          margin-bottom: 27px;

          span:nth-child(2) {
            justify-self: end;
          }
          span {
            color: $texto-cor-primeira;
            font-size: sizeElement(18);
          }

          .barrinha {
            grid-column: 1/3;
            grid-row: 2;
            width: 100%;
            background-color: $primeira-cor;
            border-radius: 12px;

            div {
              border-radius: 12px;
              background-color: $segunda-cor;
              height: 13px;
            }
          }
        }
      }
    }
  }
}

.contato {
  background-color: $primeira-cor;
}

.contato-center {
  color: #fff;

  h2 {
    color: $segunda-cor;
  }

  .contato-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    
    @include responsivo(tablet){
      display: block;
    }
    @include responsivo(celular){
      display: block;
    }
  }

  .dados {
    flex: 1 0 480px;
    display: flex;
    justify-content: flex-end;

    @include responsivo(tablet){
      flex: 1 0 480px;
      justify-content: center;
    }
    @include responsivo(celular){
      flex:1 0 280px;
      justify-content: center;
    }

    .dados-content {
      max-width: 400px;
      width: 90%;

      p {
        word-wrap:  break-word;
        font-size: sizeElement(18);
        line-height: lineheight(18);
      }

      a.my-whatsapp {
        display: block;
        background-color: $segunda-cor;
        padding: 10px;
        width: sizeElement(210);
        font-size: sizeElement(18);
        border-radius: 10px;
        text-align: center;
        color: $texto-cor-terceira;
        text-decoration: none;
        margin-top: 20px;
      }

      .my-email {
        display: block;
        margin-top: 25px;
      }

      .redes-sociais {
        display: flex;
        justify-content: flex-start;
        margin-top: 35px;
    
        @include responsivo(celular){
          justify-content: space-evenly;
        }

        .card {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          gap: 10px;
          margin-right: 20px;
          font-size: sizeElement(12);

          img {
            width: 63px;
          }

          span {
            visibility: hidden;
            transform: translateY(-20px);
            opacity: 0;
            transition: transform 1s ease-out, opacity 1s ease-out;
          }

          &:hover {
            span {
              visibility: visible;
              transform: translateY(0px);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .form {
    flex: 1 0 462px;
    display: flex;
    justify-content: center;

    @include responsivo(tablet){
      flex: none;
      display: block;
      margin-top: 50px;
    }
    @include responsivo(celular){
      flex: none;
      display: block;
      margin-top: 50px;
    }


    .form-content {

      @include responsivo(tablet){
        margin: 0 auto;
        max-width: 600px;
        width: 100%;
      }
      @include responsivo(celular){
        margin: 0 auto;
        max-width: 479px;
        width: 100%;
      }
  
      label {
        font-weight: 600;
      }

      input,textarea {
        color: $texto-cor-segunda;
        font-size: sizeElement(18);
        border-radius: 12px;
        font-weight: 600;
      }

      input {
        width: 257px;
        height: 35px;
        margin: 5px 0 15px 0;
        padding: 1px 20px;

        @include responsivo(tablet){
          width: 90%;
        }
        @include responsivo(celular){
          width: 100%;
        }
      }

      textarea {
        width: 332px;
        height: 112px;
        padding: 5px 20px;
        margin-top: 6px;
        resize: none;

        @include responsivo(tablet){
          max-width: 600px;
          width: 100%;
        }
        @include responsivo(celular){
          max-width: 480px;
          width: 100%;
        }
      }

      button {
        background-image: linear-gradient(180deg, $quarta-cor, $segunda-cor);
        color: $texto-cor-primeira;
        height: 38px;
        width: 216px;
        border-radius: 10px;
        font-size: sizeElement(18);
        margin: 10px 0 0 0;
        cursor: pointer;
        border: 2px solid $segunda-cor;

        &:hover {
          background-image: linear-gradient(
            180deg,
            $segunda-cor,
            $quarta-cor
          );
        }
      }
    }
  }
}

.rodape {
  background-color: darken($primeira-cor, 3%);
  height: 70px;

  .rodape-center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding:0;
  }
}

.bookmark{
  display: inline-block;
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  right: 10px;
}





