@use "variaveis";

$fontBase: 16;
@function sizeElement($px, $base: $fontBase) {
  @return ($px / $base) * 1rem;
}

@mixin flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

@mixin baseFont {
  font-size: $fontBase;
}

@mixin responsivo($tela) {
  @if $tela == tela985 {
    @media only screen and (max-width: 985px) {
      @content;
    }
  } @else if $tela == tela937 {
    @media only screen and (max-width: 937px) {
      @content;
    }
  } @else if $tela == tela875 {
    @media only screen and (max-width: 875px) {
      @content;
    }
  } @else if $tela == tela810 {
    @media only screen and (max-width: 810px) {
      @content;
    }
  } @else if $tela == tela480 {
    @media only screen and (max-width: 480px) {
      @content;
    }
  } @else if $tela == tela445 {
    @media only screen and (max-width: 445px) {
      @content;
    }
  }
}
