$primary-color: #193866; /* #282a35 */
$secondy-color: #05935d;
$terciry-color: #fff;
$quarteryColor: #666666;
$quinteryColor: #07ca8c;

$textColorPrimary: #fff;
$textColorSecundary: #193866;
$textColorTerciry: #666666;
